/*
 * Estilos de tu proyecto
 */

 body {
     box-sizing: border-box;
     font-family: 'Montserrat',
     sans-serif;
     margin: 0; 
     padding: 0;
     color: #ffffff;
 }

 /*Clases Reutulizables*/

 .text-uppercase {
     text-transform: uppercase;
 }

 .box-header {
     display: inline-block;
 }

 .text-center {
    text-align: center;
 }

 .background-color {
     background-color: #18bc9c;
 }


 /**/

 nav {
     outline: 1px solid blue;
     background-color: #212529;
     position: fixed;
     width: 1263px;
     height: 108px;
     top: 0;
     right: 0;
     left: 0;
 }

div a {
     list-style: none;
     text-decoration: none;
     display: inline-block;
     position: relative;
     color: #ffffff;
 }

#nav-top {
    padding-top: 42px;
    padding-bottom: 5px;
    margin-right: 16px;
    font-size: 33px;
    font-weight: 800;

}

header {
    height: 768px;
    padding-top: 200px;
    padding-bottom: 100px;
}

#profile-container {
    display: block;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1140px; 
}

.img-center {
    vertical-align: middle;
    border-style: none;
    margin-left: 427px;
    margin-right: 427px;
    margin-bottom: 20px;
}

.text-container {
    display: block;
    height: 216px;
    width: 1110px;
    text-align: center;
}

#box-title {
    font-size: 65px;
    font-weight: 800;
}

.icon-star {
    font-size: 32px;
}

hr .icon-star {
    border: 5px;
    margin-top: 25px;
    margin-left: 430px;
}


#portfolio {
    display: block;
    position: static;
    height: 883px;
    padding-top: 100px;
    padding-bottom: 100px;
}



#portfolio img {
    width: 350px;
    height: 253px;
}


 