@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3la0w7');
  src:  url('fonts/icomoon.eot?3la0w7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3la0w7') format('truetype'),
    url('fonts/icomoon.woff?3la0w7') format('woff'),
    url('fonts/icomoon.svg?3la0w7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\f005";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-dribbble:before {
  content: "\f17d";
}
